In [10]:
import pandas as pd
import glob
import time

In [11]:


def get_json_to_df(file_list = []):
    df_list = []
    for json_file in file_list[:1]:
        df_list.append(pd.read_json(json_file))
    df = pd.concat(df_list)
    return df

def merge_dataframes(df1,df2):
    merged = pd.merge(df1, df2,how='outer', on='dateTime')
    return merged

def merged_to_datetime(merged):
    merged['dateTime'] = pd.to_datetime(merged['dateTime'], format='%m/%d/%y %H:%M:%S')
    merged = merged.sort_values(by='dateTime')
    return merged

def make_new_df_value(x='',column_name=''):
    try:
        x = x[column_name]
    except Exception as e:
        print(e)
        x = 0.0
    return x

In [12]:
## Creating lists of all the respective files in the directory
heart_rate_file_list = glob.glob('data/user-site-export/heart_rate-*')
steps_file_list = glob.glob('data/user-site-export/steps-*')
altitude_file_list = glob.glob('data/user-site-export/altitude-*')
calories_file_list = glob.glob('data/user-site-export/calories-*')

In [13]:
## reading json into dataframes
heart_rate_df = get_json_to_df(file_list = heart_rate_file_list).reset_index()
## Heart rate contains a sub json that are explicitly converted into column
heart_rate_df['bpm'] = heart_rate_df['value'].transform(lambda x: make_new_df_value(x,'bpm'))
heart_rate_df['confidence'] = heart_rate_df['value'].transform(lambda x: make_new_df_value(x,'confidence'))
heart_rate_df = heart_rate_df.drop(['value','index'],axis=1)


steps_df = get_json_to_df(file_list = steps_file_list).rename(columns={'value': 'steps'})

altitude_df = get_json_to_df(file_list = altitude_file_list).rename(columns={'value': 'altitude'})
calories_df = get_json_to_df(file_list = calories_file_list).rename(columns={'value': 'calories'})

In [14]:
merged = merge_dataframes(heart_rate_df,steps_df)
merged = merge_dataframes(merged,altitude_df)
merged = merge_dataframes(merged,calories_df)
merged = merged_to_datetime(merged)

merged.to_csv('merged_export_data.csv')

merging_time = time.time()

In [15]:
display(merged.head(100))

                 dateTime  bpm  confidence  steps  altitude  calories
52316 2015-08-04 00:00:00  NaN         NaN    NaN       NaN      1.18
52317 2015-08-04 00:01:00  NaN         NaN    NaN       NaN      1.18
52318 2015-08-04 00:02:00  NaN         NaN    NaN       NaN      1.18
52319 2015-08-04 00:03:00  NaN         NaN    NaN       NaN      1.18
52320 2015-08-04 00:04:00  NaN         NaN    NaN       NaN      1.18
52321 2015-08-04 00:05:00  NaN         NaN    NaN       NaN      1.18
52322 2015-08-04 00:06:00  NaN         NaN    NaN       NaN      1.18
52323 2015-08-04 00:07:00  NaN         NaN    NaN       NaN      1.18
52324 2015-08-04 00:08:00  NaN         NaN    NaN       NaN      1.18
52325 2015-08-04 00:09:00  NaN         NaN    NaN       NaN      1.18
52326 2015-08-04 00:10:00  NaN         NaN    NaN       NaN      1.18
52327 2015-08-04 00:11:00  NaN         NaN    NaN       NaN      1.18
52328 2015-08-04 00:12:00  NaN         NaN    NaN       NaN      1.18
52329 2015-08-04 00:13:00  NaN         NaN    NaN       NaN      1.18
52330 2015-08-04 00:14:00  NaN         NaN    NaN       NaN      1.18
52331 2015-08-04 00:15:00  NaN         NaN    NaN       NaN      1.18
52332 2015-08-04 00:16:00  NaN         NaN    NaN       NaN      1.18
52333 2015-08-04 00:17:00  NaN         NaN    NaN       NaN      1.18
52334 2015-08-04 00:18:00  NaN         NaN    NaN       NaN      1.18
52335 2015-08-04 00:19:00  NaN         NaN    NaN       NaN      1.18
52336 2015-08-04 00:20:00  NaN         NaN    NaN       NaN      1.18
52337 2015-08-04 00:21:00  NaN         NaN    NaN       NaN      1.18
52338 2015-08-04 00:22:00  NaN         NaN    NaN       NaN      1.18
52339 2015-08-04 00:23:00  NaN         NaN    NaN       NaN      1.18
52340 2015-08-04 00:24:00  NaN         NaN    NaN       NaN      1.18
52341 2015-08-04 00:25:00  NaN         NaN    NaN       NaN      1.18
52342 2015-08-04 00:26:00  NaN         NaN    NaN       NaN      1.18
52343 2015-08-04 00:27:00  NaN         NaN    NaN       NaN      1.18
52344 2015-08-04 00:28:00  NaN         NaN    NaN       NaN      1.18
52345 2015-08-04 00:29:00  NaN         NaN    NaN       NaN      1.18
...                   ...  ...         ...    ...       ...       ...
52386 2015-08-04 01:10:00  NaN         NaN    NaN       NaN      1.18
52387 2015-08-04 01:11:00  NaN         NaN    NaN       NaN      1.18
52388 2015-08-04 01:12:00  NaN         NaN    NaN       NaN      1.18
52389 2015-08-04 01:13:00  NaN         NaN    NaN       NaN      1.18
52390 2015-08-04 01:14:00  NaN         NaN    NaN       NaN      1.18
52391 2015-08-04 01:15:00  NaN         NaN    NaN       NaN      1.18
52392 2015-08-04 01:16:00  NaN         NaN    NaN       NaN      1.18
52393 2015-08-04 01:17:00  NaN         NaN    NaN       NaN      1.18
52394 2015-08-04 01:18:00  NaN         NaN    NaN       NaN      1.18
52395 2015-08-04 01:19:00  NaN         NaN    NaN       NaN      1.18
52396 2015-08-04 01:20:00  NaN         NaN    NaN       NaN      1.18
52397 2015-08-04 01:21:00  NaN         NaN    NaN       NaN      1.18
52398 2015-08-04 01:22:00  NaN         NaN    NaN       NaN      1.18
52399 2015-08-04 01:23:00  NaN         NaN    NaN       NaN      1.18
52400 2015-08-04 01:24:00  NaN         NaN    NaN       NaN      1.18
52401 2015-08-04 01:25:00  NaN         NaN    NaN       NaN      1.18
52402 2015-08-04 01:26:00  NaN         NaN    NaN       NaN      1.18
52403 2015-08-04 01:27:00  NaN         NaN    NaN       NaN      1.18
52404 2015-08-04 01:28:00  NaN         NaN    NaN       NaN      1.18
52405 2015-08-04 01:29:00  NaN         NaN    NaN       NaN      1.18
52406 2015-08-04 01:30:00  NaN         NaN    NaN       NaN      1.18
52407 2015-08-04 01:31:00  NaN         NaN    NaN       NaN      1.18
52408 2015-08-04 01:32:00  NaN         NaN    NaN       NaN      1.18
52409 2015-08-04 01:33:00  NaN         NaN    NaN       NaN      1.18
52410 2015-08-04 01:34:00  NaN         NaN    NaN       NaN      1.18
52411 2015-08-04 01:35:00  NaN         NaN    NaN       NaN      1.18
52412 2015-08-04 01:36:00  NaN         NaN    NaN       NaN      1.18
52413 2015-08-04 01:37:00  NaN         NaN    NaN       NaN      1.18
52414 2015-08-04 01:38:00  NaN         NaN    NaN       NaN      1.18
52415 2015-08-04 01:39:00  NaN         NaN    NaN       NaN      1.18

[100 rows x 6 columns]